.root {
      -fx-background-image: url("../../../../../res/backgrounds/background.jpg");
      -fx-background-repeat: no-repeat;
      -fx-background-size: 100% 100%;
 }
 #tableView{
      -fx-position: absolute;
       -fx-left: 100px;
       -fx-top: 150px;
 }