.root {
    -fx-background-image: url("../../../../../res/backgrounds/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

.label {
    -fx-background-color: white;
}